






body {
  font: 12px Arial;
  width: 100%;
  height: 100%;
}

path {
    stroke: #112342;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
